<div class="header-sinister d-flex justify-content-between align-items-center w-100">
  <div class="d-flex justify-content-start align-items-center mb-2 w-50">
    <h6 class="subtitle">
      <span class="material-symbols-outlined">
        {{ icon }}
      </span>
      {{ title }}
    </h6>
    @if(totalRegistros){
    <span>| {{ totalRegistros }} {{ totalRegistros === 1 ? 'registro' : 'registros' }}</span>
    }
  </div>
  @if(searchable){
    <div class="search d-flex justify-content-end w-50">
      <mat-form-field class="example-form-field">
        <mat-label>Search hero</mat-label>
        <input matInput type="text" [formControl]="search">
      </mat-form-field>
    </div>
  }
</div>