<form [formGroup]="heroForm">
  <div class="row">

    <div class="col-12 col-md-6 text-center">
      <label for="image" class="image-label">
        <input type="file" id="image" accept="image/png, image/jpeg" hidden (change)="onFileChange($event)" />

        @if(heroForm.get('image')?.value){
          <img [src]="heroForm.get('image')?.value"
          alt="Preview imagen" class="image-preview" />
        }@else{
            <img [src]="genericImg" alt="Imagen genérica" class="image-preview" />
        }
      </label>


      @if (heroForm.controls['image'].invalid && heroForm.controls['image'].touched) {
      <div class="text-danger">
        Por favor selecciona una imagen JPEG o PNG válida.
      </div>
      }
    </div>

    <div class="col-12 col-md-6 mt-2">
      <div class="row mb-2">
        <mat-form-field class="example-form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" toUpperCase/>
          @if (heroForm.get('name')?.hasError('required')) {
          <mat-error>Name is <strong>required</strong></mat-error>
          }
          @if (heroForm.get('name')?.hasError('minlength')) {
          <mat-error>The name must be at least 3 lettersc</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="" formControlName="description"></textarea>
          @if (heroForm.get('description')?.hasError('required')) {
          <mat-error>Description is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end w-100">
    <button mat-flat-button type="submit" [disabled]="heroForm.invalid" (click)="sendToFather()">
      Save Hero
    </button>
  </div>
</form>