.card {
    padding: 24px;
    margin: 32px;
    border-radius: 10px;
    box-shadow: 0 0 0px 0px transparent, 0 0 9px 0.25rem rgb(215 215 215 / 45%);

    table {
        tr:nth-child(even) {
            td {
                background-color: #F1F3F5;
                border: none;
            }
        }

        td {
            border: none
        }
    }
}